@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Montserrat:wght@500;700&family=Roboto:wght@400;900&display=swap');

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
  
th, td {
  text-align: center;
}

/* font-family: 'Economica', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */